{% extends "base.html" %}
{% block content %}
<div class="card form">
  <h2>Edit Camera</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name() }}
    {{ form.type.label }}
    {{ form.type() }}
    {{ form.max_capacity.label }}
    {{ form.max_capacity() }}
    {{ form.security_level.label }}
    {{ form.security_level() }}
    {{ form.equipment_list.label }}
    {{ form.equipment_list() }}
    {{ form.cleaning_schedule.label }}
    {{ form.cleaning_schedule() }}
    {{ form.maintenance_schedule.label }}
    {{ form.maintenance_schedule() }}
    {{ form.submit() }}
  </form>
</div>
{% endblock %}
