{% extends "base.html" %}
{% block content %}
<div class="card form">
  <h2>Add Object to Containment</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name() }}
    {{ form.classification.label }}
    {{ form.classification(style="width:100%; padding:10px; margin:8px 0;") }}
    {{ form.description.label }}
    {{ form.description() }}
    {{ form.storage_requirements.label }}
    {{ form.storage_requirements() }}
    {{ form.camera_id.label }}
    {{ form.camera_id(style="width:100%; padding:10px; margin:8px 0;") }}
    {{ form.submit(value="Add Object") }}
  </form>
</div>
{% endblock %}

